:root{
    --azul-marino:#26476e;
    --borde-blanco:#d9d9d9;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: #333;
    background-color: #f4f4f4;
    
}

/* BOTONES  */

.btn{
    display: inline-block;
    padding: 0.625rem 1.25rem;
    border-radius: 0.3125rem;
    text-decoration: none;
    font-size: 1.1rem;
}

.btn-header{
    border:1px solid var(--borde-blanco);
    color:var(--borde-blanco);   
}
.cta-btn {
    border:1px solid var(--azul-marino);
    color: var(--azul-marino);
    transition: background-color 0.3s ease;
}

.btn-tareas {
    background-color: var(--azul-marino);
    color: var(--borde-blanco); 
}


.cta-btn:hover {
    background-color: var(--azul-marino);
    color:var(--borde-blanco)
}

/* MAIN HEADER */
.main-header {
    background: var(--azul-marino);
    color: #fff;
    padding: 3.125rem 0;
    text-align: center;
}

.main-header h1 {
    font-size: 2.5rem;
    margin-bottom: 1.25rem;
}

.main-header p {
    font-size: 1.2rem;
    margin-bottom: 20px;
}


/* SERVICES */
.services {
    
    display: flex;
    flex-wrap: wrap;
    padding: 3.125rem 0;
    text-align: left;
    align-items: center;
    justify-content: center;
}

.services-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 2.5rem;
}

.text-content, .image-content {
    flex: 1 1 45%;
    padding: 0.625rem;
    
}

.text-content h2 {
    font-size: 2rem;
    margin-bottom: 1.25rem;
}
.text-content p {
    margin-bottom: 1.25rem;
}

.text-content ul {
    list-style: none;
    margin-bottom: 1.25rem;
}

.text-content ul li {
    background-color: #f4f4f4;
    padding: 0.625rem;
    margin-bottom: 0.625rem;
    border-left: 5px solid var(--azul-marino);
}

.image-content img {
    max-width: 100%;
    height: auto;
    border-radius: 0.625rem;
}


/* SUBJECTS */
.subjects {
    padding: 3.125rem 0;
    text-align: center;
}

.subjects h2 {
    font-size: 2rem;
    margin-bottom: 1.25rem;
}

.subjects p {
    margin-bottom: 1.25rem;
}

.subjects ul {
    list-style: none;
    margin-bottom: 1.25rem;
}

.subjects ul li {
    background-color: #f4f4f4;
    padding: 0.625rem;
    margin-bottom: 0.625rem;
    display: inline-block;
    margin-right: 0.625rem;
}



/* PROCESS */
.process {
    background-color: #eaeaea;
    padding: 50px 20px;
    text-align: center; 
}

.process h2 {
    font-size: 2rem;
    margin-bottom: 1.25rem;
}

.process ol {
    list-style: decimal;
    margin: 15px auto;
    padding-left: 0;
    max-width: 31.25rem;
    text-align: left;
    
}

.process ol li {
    background-color: #fff;
    margin-bottom: 0.625rem;
    padding: 0.9375rem;
    border-left: 0.3125rem solid var(--azul-marino);
}

.process ol li:last-child {
    margin-bottom: 0;
}

/* Testimonials Section */
.testimonials {
    padding: 3.125rem 1.25rem;
    text-align: center;
    background-color: #f9f9f9;
}

.testimonials h2 {
    font-size: 2rem;
    margin-bottom: 1.25rem;
}

.testimonial {
    background-color: #fff;
    padding: 1.25rem;
    margin-bottom: 1.25rem;
    border-radius: 0.625rem;
    box-shadow: 0 0 0.625rem rgba(0, 0, 0, 0.1);
}

/* Call-to-action Section */
.cta {
    padding: 3.125rem 1.25rem;
    text-align: center;
    background-color: var(--azul-marino);
    color: var(--borde-blanco)
}

.cta h2 {
    font-size: 2rem;
    margin-bottom: 1.25rem;
}

.cta p {
    font-size: 1.2rem;
    margin-bottom: 1.25rem;
}

/* Estilos para la sección de contacto */
.contact {
    background-color: #f5f5f5;
    padding: 3.125rem 1.25rem;
    text-align: center;
}

.contact h2 {
    font-size: 2rem;
    color: var(--azul); /* Usando la variable del color azul */
    margin-bottom: 1.25rem;
}

.contact p {
    font-size: 1.2rem;
    color: #333;
    margin-bottom: 30px;
}



/* Footer */
footer {
    padding: 20px 0;
    text-align: center;
    background-color: #333;
    color: white;
    font-size: 0.9rem;
}

/* Responsive Styles */
@media (max-width: 768px) {
    .services, .process {
        flex-direction: column;
    }

    .text-content, .image-content {
        flex: 1 1 100%;
        text-align: center;
    }

    .text-content ul {
        text-align: left;
    }
    .contact h2 {
        font-size: 1.8rem;
    }

    .contact p {
        font-size: 1rem;
    }

    .contact .cta-btn {
        font-size: 0.9rem;
        padding: 0.75rem 1.5625rem;
    }
    .text-content p {
        margin-bottom: 1.25rem;
    }
}

@media (max-width: 480px) {
    h1, h2 {
        font-size: 1.5rem;
    }

    .main-header p, .subjects p, .process p, .cta p {
        font-size: 1rem;
    }
    .contact h2 {
        font-size: 1.5rem;
    }

    .contact p {
        font-size: 0.9rem;
    }

    .contact .cta-btn {
        font-size: 0.8rem;
        padding: 0.625rem 1.25rem;
    }
    .subjects p {
        margin:0 0.25rem;
    }
    .text-content p {
        margin-bottom: 1.25rem;
    }
    
}
